.displayed{
  margin-left: 300px;
  transition: 0.5s;
}

nav{
  height: 91.5px;
}

.cs-container{
  margin-right: 0px;
  width: calc(100% - 300px);
  padding-top: 2%;
}

.luballSidenav {
  height: 100%; /* 100% Full-height */
  width: 300px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1;
  top: 91.5px;
  bottom: 0; /* Stay at the top */
  left: 0;
  padding-bottom: 100px;
  background-color: #EDEEF0; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the luballSidenav */
  display: block;
}

/* The navigation menu links */
.luballSidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.luballSidenav a:hover {
  color: #f1f1f1;
}

.luballSidenav ul li{
  padding-top: 10px;
}

.sidebar-button{
  background-color: transparent;
  border: none;
  display: none;
  color: #BE9468;
  font-size: 2.5em;
}

.luballSidenav ul{
  list-style: none;
}

.luballSidenav ul li button{
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  color: #002440;
}

.luballSidenav ul li button:hover,.luballSidenav ul li button.active{
  color: #B99168;
  box-shadow:none;
}

.blue-link{
  background-color: transparent;
  color: #002440;
  font-weight: 500;
}

.blue-link:hover{
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  font-weight: 500;
}



button.flat{
  background-color: transparent;
  color: #B99168;
}

.designpattern-card h4{
  font-size: 1.3em;
  text-align: center;
  color: #B99168;
}

.designpattern-card .card-body{
  padding: 2%;
}

.container-dp select,.container-dp textarea{
  background-color: #EDEEF0;
  color: #87868A;
  border: none;
}

legend{
  color: #B99168!important;
  font-weight: 500;
}

p{
  font-size: 1.1em;
}

.contianer-profile input{
  border: none;
  border-bottom: 1px solid #ADACB2;
}

.contianer-profile label{
  color: #B99168!important;
}

.contianer-profile label:hover{
 text-decoration: underline;
 cursor: pointer;
}

.contianer-profile{
  padding-bottom: 30px!important;
}

@media (max-width:992px) {
  
  .sidebar-button,.luballSidenav{
    display: block;
  }

  nav,.displayed{
    margin-left: 0px;
  }

  .cs-container{
    width: calc(100% - 0px);
  }
}