nav{
	background-color: #12172D!important;
}

.home-video{
	width: 100%;
	height: auto;
}

html{
	position: relative;
	min-height: 100%!important;
}

body{
	min-height: 100vh;
}

#app{
	margin-bottom: 100px;
	min-height: 100vh;
}

footer.my-footer{
	width: 100%;
	height: 200px;
	position: block;
	background-color: #1E2446!important;
	padding-bottom: 20px;
	padding-top: 20px;
}


footer.my-footer li a{
	color: #A2A8AC;
}


footer.my-footer li a:hover {
	color: #fff;
}

@media (max-width: 992px){
	footer.my-footer{
		height: 500px;
	}
}

