
/*

	#0b0a1b

*/
<<<<<<< HEAD
html{
	overflow-x: hidden;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
*{
	font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
input:active, input:focus {
	outline: none;
	box-shadow: none!important;
 }

.full-width{
	width: 100%;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.elmessiri,.component-title{
	font-family: 'El Messiri', sans-serif;
}

.bluildChroma{
	top: 0;
	position: fixed!important;
	z-index: -10;
	width: 10%;
	height: auto;
	visibility: hidden;
}

.main-title{
	font-size: 2.2em!important;
}

.main-title-underline{
	padding-bottom: 15%;
	border-bottom: 1px solid #B99168;
}

<<<<<<< HEAD
.underline-row{
	border-bottom: 1px solid #B99168;
	margin-bottom: 10px;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.minimize-button{
	position: absolute;
	right: 0;
	z-index: 99999;
	background-color: #BE9468;
	border: 1px solid #BE9468;
	color: white;
}

<<<<<<< HEAD
.mysave-button{
	font-size: 0.5em;
	background-color: white;
	border: 1px solid #BE9468;
	color: #001F3E;
}

.mysave-button:hover{
	color: #BE9468;
	background-color: white;
}

.component-title{
	font-size: 2.5em!important;
=======
.component-title{
	font-size: 2em;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	color: #B99168;
	font-weight: bold;
}

.custom-control-label:after{
	border-radius: 50%!important;
	border: 1px solid #B99168;
	color: #B99168!important;
	outline: none!important;
	box-shadow: none!important;
}

.custom-control-label span{
	color: #B99168!important;
	font-weight: 500;
}

.custom-control-label:before{
	border-radius: 50%!important;
}

<<<<<<< HEAD
=======

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.custom-checkbox .custom-control-input{
	border-radius: 50%!important;
    outline: none!important;
}

<<<<<<< HEAD
.selectedMaterial .container-scroll{
	max-height: 40vh; 
	overflow-y: scroll;
}

.breadcumb-steps{
	padding-left: 0px;
	padding-right: 0px;
}

.breadcumb-steps .text-step{
	background-color: white;
	border: 1px solid #B99168;
	color: #B99168;
	width: 40px;
	height: auto;
	padding: 5px;
	border-radius: 50%;
}

.breadcumb-steps .active{
	background-color: #B99168!important;
	color: white;
}

.breadcumb-row{
	margin-left: 20px;
	height: 36px;
	width: 80%;
	margin-bottom: 10px;
}

.vertical-gold{
	position: absolute;
	margin-top: 16px;
	width: 55%;
	border-bottom: 2px solid #B99168;
}

.breadcumb-step-3{
	background-color: white;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #B99168;
    border: 1px solid #B99168;
    border-radius: 50%!important;
    outline: none!important;
}

.custom-control-input:checked~.custom-control-label::before {
    border: 1px solid #B99168;
	border-radius: 50%!important;
    background-color: #B99168;
    box-shadow: none!important;
}

.gallery-card{
	color: #B99168;
	border: none;
<<<<<<< HEAD
	margin-bottom: 15px;
}

.no-margin-bottom{
	margin-bottom: 0px;
}

.clickable:hover{
	cursor: pointer;
=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.gallery-card a{
	position: absolute;
	bottom: 20px;
	right: 50px;
	font-size: 2em;
	color: white;
}

.gallery-card a:hover{
	color: #B99168;
}

.gallery-card span{
	text-align: center;
}

.craft-title{
<<<<<<< HEAD
	font-size: 3.5em;
	letter-spacing: 0.1em;
=======
	font-size: 2em;
	letter-spacing: 3px;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

a,a:hover{
	color: #1E2446;
}

p{
	font-size: 1em;
}

body{
	background-color: #FFFFFF;
	display: flex;
    flex-direction: column;
    height: 100%!important;
}

button:focus,input:focus,select:focus,*:focus, .material-card:focus{
	border-color: #BD9C79!important;
	box-shadow: none!important;
	outline: 0 none!important;
	cursor: pointer;
}

button{
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
}

button:hover, .vue-dropzone:hover{
	box-shadow:inset 0 0 0 9999px rgba(0,0,0,0.1);
}

table{
	color: #87868A!important;
	border: 1px solid #B29367!important;
	white-space: nowrap;
	text-align: center!important;
}

th,td{
	border-top: 1px solid #B29367!important;
	vertical-align: middle!important;
}

tbody{
	cursor: pointer!important;
}

thead{
	border-top: 1px solid #B29367!important;
	background-color: #D1D5DB;
}

#headerNav a{

  text-fill-color: #5F6060;
  font-weight: 500;
}

#headerNav ul li a.nav-link:hover{
  -webkit-text-fill-color: #BFA05E;
}

#headerNav .dropdown-menu a.dropdown-item,.match-items em{
  -webkit-text-fill-color: #5F6060!important;
  font-weight: lighter;
<<<<<<< HEAD
  font-size: 0.9em; 	
=======
  font-size: 0.6em; 	
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
  font-style: none!important;
}

#headerNav .dropdown-menu a.dropdown-item:hover{
  -webkit-text-fill-color: #5F6060!important;
  font-weight: bold;
  background-color: #AEB1B5;
}

#headerNav .dropdown-menu{
	left: 0;
	right: 0; 
}

.onTop{
	background-color: #1E2446!important;

}

#file-input{
	display: none!important;
}

img[alt="Profile"]{
	height: 100px;
	width: 100px;
}

.gallery-invisible{
	display: none;
}

<<<<<<< HEAD
.padding{
	padding: 1%;
}

.mysave-material-title{
	font-size: 0.7em;
	color: #001F47;
=======
.gallery-visible{

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.material-title{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #7D8181;
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
	padding-top: 33%;
	vertical-align: middle;
	background-color: rgba(255,255,255,0.5)!important;
}

<<<<<<< HEAD
.padding-top{
	padding-top:1%;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.material-card .material-title{
	display: none;
}

.material-card:hover .material-title{
    display: block;
}

<<<<<<< HEAD
.material-icons{
	vertical-align:middle;
}

.material-tabs .col-md-2{
	padding: 2px;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.main-catalog:hover img{
	-webkit-filter: opacity(.2)!important;
  	filter: opacity(.2)!important;
}

.main-catalog button{
	display: none;
	max-width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
	font-size: 0.8em;
}

.main-catalog:hover button{
	display: block;
}

.btn-viewCatalog{
	background-color: #BE9468!important;
	color: white;
	border: none;
}

.collection-card .asset-container-button{
	display: none;
	transition: 4s;
}

.collection-card:hover .asset-container-button{
	display: block;
	
}

.collection-p{
	font-size: 0.8em;
}

.collection-title{
	margin-bottom: 0px;
	font-size: 16px;
}

.gold-flat-text{
	font-size: 1em;
}

.collection-tabs ul[role=tablist]{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.colored{
	transition: background-color 0.5s ease;
	background-color: rgba(30,36,70,0.9)!important;
}

.navbar-toggler{
	border: none;
	
}

.navbar-toggler-icon{
	color: #BE9468!important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(190,148,104, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-padder{
	padding-top: 100px;
}

.carousel-item{
	height: 100vh;
	width: 100%;
}

.carousel-item img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background-repeat:   no-repeat;
}

.dropdown-toggle::after {
    display:none;
}

.carousel-indicators li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #CFCECE;
	border: 1px solid #CFCECE;
}

.card-home img{
	width: 100%; 
	height: 150px; 
	max-height: 250px!important;
	object-fit: cover!important;
	position: relative!important;
}

label < .card-home {
	color:#BE9468;
	font-weight: 400;
}

.card-home-bigg img{
	width: 100%; 
	height: 330px; 
	max-height: 500px!important;
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}


/* Decorations */
.slide-row .col { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.slide-row .col:nth-child(3n+1) { background: #c69; }
.slide-row .col:nth-child(3n+2) { background: #9c6; }
.slide-row .col:nth-child(3n+3) { background: #69c; }

.with-grid{
	border-left: 1px solid #B29367!important;
	border-right: 1px solid #B29367!important;
	border-bottom: 1px solid #B29367!important;
}



.dz-progress{
	display: none;
}

.cart-container{
	border-radius: 2px;
	border: 2px solid #F0EFEF;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	width: 450px;
	min-height: 350px;
	position: fixed;
	z-index: 2000;
	background-color: white;
	top: 10px;
	right: 10px;
}

.cart-container .img-container img{
	height: 300px;
	width: auto!important;
	background-color: red;
}

.cart-container .img-container{
	height: 300px;
	background-color: #DEDCDB;
}

.order-item{
	width: 60%;
	height: 60%;
}

.order-item-pattern{
	width: 100%;
	height: 100%;
}

.items-col{
	padding-top: 15px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	min-height: 100px;
	max-height: 300px;

}

.items-col ul { 
	 position: relative;
	 width: 200px;
	 height: 120px;
	 padding-left: 0px; 
	 list-style-type:none;
     white-space:nowrap;
     overflow-x:auto;
}

.items-col li { 
	 width: 80px;
	 display:inline-block;
}

.order-item button.remove, .order-item-pattern .remove{
	position: absolute;
	border-radius: 50%;
	right: 0;
	top: -15px;
	background-color: white;
	border: 1px solid #BE9468;
	color: #BE9468;

}

.close-cart{
	position: absolute;
	left: 0;
}

.close-cart:hover{
	background-color: #BE9468;
	border: 1px solid #BE9468;
}

button.remove{
<<<<<<< HEAD
=======
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	border-radius: 50%;
	background-color: white;
	border: 1px solid #BE9468;
	color: #BE9468;
}

<<<<<<< HEAD
=======
.display-text{
	font-weight: bold;
}

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.action-container{
	position: absolute;
	bottom: 0;
	right: 0;
}

.action-container button{
<<<<<<< HEAD
	padding: 5px;
	font-size: 2.5em;
	color: white;
	background-color: transparent;
}

.action-container button:hover{
	color: #BE9468;
}

.order-item button.remove:hover,button.remove:hover{
	border-radius: 50%;
=======
	font-size: 3em;
}

.order-item button.remove:hover,button.remove:hover{
	position: absolute;
	border-radius: 50%;
	right: 0;
	top: -15px;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	background-color: #BE9468;
	border: 1px solid #BE9468;
	color: white;
	
}

.cart-toggle{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999;
	padding: 10%;
}

.addToCartButton{
	position: fixed;
	z-index: 2016;
	right: +14%;
<<<<<<< HEAD
	bottom: +35%;
=======
	bottom: +21%;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.cart-toggle button{
	border-radius: 50%;
	color: #BE9468;
	font-size: 2em;
	padding: 10px;
}

.cart-toggle button:hover{
	background-color: #BE9468;
	border: 1px solid #BE9468;
	color: white;
}

.display-text{
<<<<<<< HEAD
	font-weight: bold;
=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
<<<<<<< HEAD
	font-size: 0.85em;
	color: white;
	font-weight: 400;	
	text-transform: uppercase;
	text-shadow: -1px 0 #BE9468, 0 1px #BE9468, 1px 0 #BE9468, 0 -1px #BE9468;
=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}


.footer-links img{
<<<<<<< HEAD
	width: 11%;
=======
	width: 7%;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	min-width: 82px;
	padding-left: 5%;
}

.luna-blue,.blue-button:hover{
	background-color: #1E2446!important;
}

<<<<<<< HEAD
.navbar-brand, #headerNav{
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo{
	max-width: 94px;
=======
.logo{
	max-width: 64px;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.vue-tags-input{
	width: 100%!important;
}

.spec-material{
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

	max-width: 100px;
}

.collection-card{
	color: #7D8181;
}

.collection-card.active{
	border: 2px solid #BE9468!important;
}

<<<<<<< HEAD
.display-eula{
	word-break:break-all;
	padding: 1%;
}

/* pallete */

.btn-bordered{
	background-color: #fff;
	color: #B99168;
	border: 2px solid #B99168;
}

=======
/* pallete */

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.btn-blue{
	padding: 5px;
	background-color: #1E2446;
	color: #fff;
}

<<<<<<< HEAD
.btn-blue:hover{
	color: #fff;
}

.blue-button,.btn-gold{
=======
.blue-button,.btn-gold,{
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	background-color: #5B628D!important;
	color: #fff;
	border-radius: 2px;
	font-size: 14px!important;
}

.luna-text-blue{
	color: #1E2446!important;
}

.luna-gold, .btn-gold, .ti-tag.ti-valid, .cell.day.selected{
<<<<<<< HEAD
	background-color: #B99168!important;
=======
	background-color: #B99168!;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	box-shadow:inset 0 0 0 9999px rgba(185, 145, 104, 0.9);
	border: 2px solid rgb(185, 145, 104);
}

.luna-text-gold,a[role="tab"],.golden-border,.home-cardBot .card-title,.btn-flat{
	color: #B99168!important;
}

.shadow{
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.golden-border,.vue-dropzone{
	border: 2px solid #B99168;
	background-color: white;
	font-weight: bold;
}

<<<<<<< HEAD
.golden-borderOnly{
	border: 2px solid #B99168;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.vue-dropzone{
	border-radius: 2px;
}

.dz-preview.dz-image-preview{
	background-color: transparent!important;
}

.gold-text{
   background: -webkit-linear-gradient(#AE7748, #F6C678);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.golden-block, .golden-border:hover{
	background-color: #BE9468;
<<<<<<< HEAD
	border-color: 2px solid #BE9468!important;
=======
	border-color: 2px solid white!important;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.inputRed{
	border-color: 2px solid #DC3545;
}

.luna-text-grey, .dz-message{
	color: #A2A8AE;
}

.luna-text-lightGrey{
	color: #7D8181;
}

.grey-luna{
	background-color: #EDEEF0;
	color: #87868A;
}

.vgs{
	background-color: rgba(255,255,255,.8)!important;
}

.vgs__container{
	background-color: #EDEEEF!important;
}

.vgs__close{
	color: #00233F!important;
}

.displayPattern{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.designpattern-card:active{
	border: 2px solid #B99168!important;
}

.cell.day:hover, .cell.month:hover{
	border: 1px solid #B99168!important;
}

form div[class^="col"]{
	padding-bottom: 5px!important;
	padding-top: 5px!important;
}

.success-white p,.golden-block, .golden-border:hover{
	color: white!important;
	font-weight: bold;
}

.image-upload{
	-webkit-clip-path: circle(80px at center);
	clip-path: circle(80px at center);
	cursor: pointer;
}

.image-upload span{
	display: none;
}


.image-upload img{
	cursor: pointer;
}

.image-upload label:hover + span, .image-upload span:hover{
	position: absolute;
	bottom: 10px;
	padding: 5px;
	left: -1px;
	display: block;
	background-color: #B99168;
	color: #fff!important;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}

.tab,.nav-tabs , a[role=tab] .nav-item, .nav-link{
	border: none!important;
<<<<<<< HEAD
	text-transform: uppercase;
=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.nav-item{
	text-align: center;
	padding-right: 50px;
	font-size: 0.8em!important;
}

.nav-link.active{
	border-bottom: 2px solid #BE9468!important;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.input-height{
	height: 38px;
}

.border-gold{
	border: 2px solid #BE9468;
}

.gold-flat-text,.dz-remove{
	color: #BE9468!important;
}

.cell.day.selected{
	color: white;
}

.availability-card img{
	width: 100%;
	height: 70vh;
	object-fit: cover;
	background-repeat: no-repeat;

}

.availability-card h4{
	font-size: 2em;
	font-weight: bold;
	padding-top: 10%;
	font-family: 'El Messiri', sans-serif;
}

.card-body{
	margin: auto;
	border-radius: 50%;
	height: 90%;
	width: 90%
}

.contact-row h4{
	font-size: 1.2em;
	color: #1E2446;
	border-bottom: 1px solid #B99168;
	width: 60%;
	padding-bottom: 5px;
}

.sub-title{
	border-bottom: 1px solid #B99168;
}

.contact-row p{
	font-size: 1.2em;
	color: #7D8181;
	font-weight: lighter;
}

<<<<<<< HEAD
=======
.action-container button{
	color: #B99168;
}

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.cart-container .img-container{
	color: #1E2446!important;
}

.gold-link{
	background-color: transparent;
	color: #B99168;
	font-weight: 500;

}

<<<<<<< HEAD
.home-gold-link{
	font-size: 1.5em!important;
}

=======
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
.gold-link:hover{
	background-color: transparent;
	box-shadow: none;
	color: #1E2446;
}


.small-home-1{
	margin-bottom: 40px;
	background-image: url("../media/cards/0.webp");
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.small-home-2{
	background-image: url("../media/cards/1.webp");
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.home-card .gold-link{
	font-size: 12pt;
}

.home-card{
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	width: 95%;
	height: 400px;
}

.large-home{
	padding-left: 10%!important;
	padding-right: 10%!important;
	padding-top: 400px;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	height: 840px;
	background-image: url("../media/cards/2.webp");
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.my-auto{
	margin-top: auto;
	margin-bottom: auto;
}

.nav-tabs {
    text-align:center;
}

.progress-container{
	padding: 3px;
	border: 1px solid #BE9468;
}

.progress-container .mb-3.progress{
	margin-bottom: 0px!important;
	border-radius: 0px;
	background-color: transparent;
}

.progress-container .progress-bar{
	background-color: #BE9468;	
}

.btn-primary{
	background-color: #BE9468!important;
	border-color:  #BE9468;
}

.btn-primary:hover{
	border-color:  #BE9468;
}

<<<<<<< HEAD
.btn-flat{
	background-color: transparent;
	border: none;
}

.btn-flat:hover{
	background-color: transparent!important;
}

.home-greyp, .home-grey p {
	font-weight: lighter!important;
	font-size: 1.2em;
=======
.home-greyp, .home-grey p {
	font-weight: lighter!important;
	font-size: 0.9em;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
}

.about-p{
	padding-top: 8%!important;
	padding-right: 10%!important;
	padding-left: 10%!important;
}

.about-p p{
	font-weight: lighter;
	font-size: 1em!important;
}

.component-title{
	padding: 2%;
	font-size: 1.5em;
}

.blue-link:hover{
	color:  #BE9468;
	text-decoration: none!important;
}

.buttons-container{
	position: absolute!important;
	right: 99999px!important;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BE9468' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BE9468' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.my-footer{
	padding-top: 20px;
}

.circle-button{
	border-radius: 50%;
	padding: 10px;
}

.asset-container-button{
	margin-top:45%;
	margin-left: -10px;
	position: absolute;
	width: 110%;
}

.asset-button{
	border-radius: 50%;
	background-color: white;
	color: #BE9468;
	border: 1px solid #BE9468;
}

<<<<<<< HEAD
.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}

.request-label{
	color: #575A5C;
}

.companyRequest-form{
	width: 100%;
}

.companyRequest-form .row{
	margin-left: 0px;
	width: 100%;
}

.companyRequest-form .form-group{
	
	width: 100%!important;
	margin-bottom: 0px;
}

input.is-valid{
	background-image: none!important;
	border: 1px solid #B4956A!important;
}

.companyRequest-form input, .companyRequest-form input.is-valid {
	border: none;
	background-image: none;
	border-bottom: 1px solid #B4956A;
	border-radius: 0px;
}

.companyRequest-form label{
	height: 35px;
	margin-bottom: 0px;
}

#loginModal .modal-content{
	width: 80vw!important;
}

.signature-pad{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	border: 2px solid rgb(179, 156, 125);
}

.signature-pad.is-invalid, .companyRequest-form select.is-invalid{
	border: 2px solid #dc3545;
}

.toastConfirming{
	border: 2px solid #B4956A;
	width: 20vw;

}

.iziToast-message, .iziToast-buttons{
	text-align: center!important;
	width: 100%;
}

.testConfirming .iziToast-body{
	padding-left: 20px!important;
}

.testConfirming .iziToast-icon{
	display: none!important;
}

.more-materials-quote{
	background-color: transparent;
	color: #B4956A;
}

.more-materials-quote:hover{
	text-decoration: underline;
	box-shadow:none;
}

@media (max-width: 992px){

	.toastConfirming{
		width: 100vw;	
	}

=======
@media (max-width: 992px){

>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	.addToCartButton{
		position: fixed;
		z-index: 2016;
		right: +15%;
		bottom: +13%;
	}

	.component-title{
		font-size: 3em;
	}
	.main-title{
<<<<<<< HEAD
		font-size: 3em!important;
=======
		font-size: 3em;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	}

	.nav-item{
		padding: 0px;
	}

	.asset-container-button{
		width: 113%;
	}

	.footer-links img{
		width: 5%!important;
		min-width: 64px;
		padding-left: 2%;
	}

	.cart-container{
		width: 100%;
		right: 0px;
		top: 0;
		max-height: 100%;
	}

	.img-container{
		max-height: 150px;
	}

	.img-container img{
		max-height: 150px;
	}

	.parent-row, .parent-row [class*='col-'] {
		max-height: 150px;
	}

	.order-item{
		height: 10%;
		width: 10%;
	}

	.order-item-pattern{
		height: 70%;
		width: 70%;
	}

	.cart-toggle{
		padding: 5%;
	}

	.craft-title{
<<<<<<< HEAD
		font-size: 2em;
		letter-spacing: 5px;
=======
		font-size: 1em;
>>>>>>> 140a1460941b0126e980aabd425ea6008ae44ce7
	}
	
	.availability-card{
		min-height: 100vh;
	}

	.availability-card img{
		min-height: 100vh;
	}

	.home-card{
		margin-bottom: 20px;
		width: 100%;
	}

}
